<!DOCTYPE html>
<html>
<head>
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
</head>
<body>

<div class="container">
    <center>
    <h1><marquee behavior="alternate">MAIN</marquee></h1>
    <h1><marquee behavior="alternate" direction="right">MENU</marquee></h1>
    <div class="options">
    
    <form action="#">
        <center><a href="/gameplay"><input class="option" value="PLAY"></a></center>
        <br>
        <center><a><input class="option" value="ABOUT"></a></center>
        <br>
        <center><a><input class="option" value="HELP"></a></center>
        <br>
        <center><a><input class="option" value="EXIT"></a></center>
        
    </form>
        
    </div>
    </center>
    
</div>
    
</body>
</html>